{% extends "debian-base.html" %}

{% block title %} mentors.debian.net {% endblock %}

{% block head_meta %}
<link rev="made" href="mailto:mentors@debian.net">
<meta name="Language" content="English">
<meta name="Author"   content="Nicolas Dandrimont, olasd@debian.org">
{% endblock %}

{% block head_resources %}
  {{block.super}}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/mentors.css">
{% endblock %}

{% block section %} mentors {% endblock %}

{% block searchbox %}
{% comment %}No search feature in Mentors site yet{% endcomment %}
{% endblock %}

{% block navbar %}
  <li><a href="#">Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#contact">Contact</a></li>
{% endblock %}

{% block relatedpages %}

{% endblock %}

{% block breadcrumbs %} mentors {% endblock %}


{% block content %}
<h1>Welcome to mentors.debian.net</h1>
{% endblock content %}

{% block footer %}
<p>Copyright © 2013-2014 Nicolas Dandrimont &lt;olasd@debian.org&gt;, Clément Schreiner &lt;clement@mux.me&gt;. See <a href="#">license terms</a>.
Source code is <a href="http://anonscm.debian.org/gitweb/?p=debexpo/mentors.git">here</a>, to help see
<a href="https://wiki.debian.org/Debexpo">here</a>.
Please report bugs against on <a href="https://alioth.debian.org/tracker/?atid=413115&group_id=100127&func=browse">alioth</a>.
</p>
{% endblock %}
