{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
{% block full_form %}
<form method="POST" enctype="multipart/form-data">
  {% block main_form %}
  {% crispy form %}
  <button type="submit">{% trans "Submit" %}</button>
  {% endblock main_form %}
  
  {% block attached_files %}
  {% if inlines %}
  {% for formset in inlines %}
  {{ formset.management_form }}
  <fieldset>
    <legend>{% trans "PGP Keys" %}</legend>
    {% for form in formset %}
    {% crispy form %}
    {% endfor %}
  </fieldset>
  {% endfor %}
  
  <button type="submit">{% trans "Submit" %}</button>
  
  {% endif %}
  {% endblock %}
</form>
{% endblock full_form %}
{% endblock content %}
